#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom right, #000000cc, #0a0a0acc);
  z-index: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: url('../assets/images/cenario-urbano-cyberpunk.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #e0f7ff;
  position: relative;
}

.app {
  position: relative;
  z-index: 1;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.title-home{
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow:
    0 0 5px #ff8686,
    0 0 10px #ff8686,
    0 0 20px #ff3e3e,
    0 0 40px #ff3e3e,
    0 0 80px #ff3e3e;
  animation: neonBlink 5s infinite;
}

/* Animação de falha de neon */
@keyframes neonBlink {
  0%, 88%, 92%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #ff003c,
      0 0 10px #ff003c,
      0 0 20px #ff003c,
      0 0 40px #ff1a4f,
      0 0 80px #ff3366;
  }
  89%, 91% {
    text-shadow: none;
  }
}