.magic-col {
  width: 300px; /* define o tamanho fixo */
  max-width: 300px;
  white-space: normal; /* permite quebrar texto */
}

.alternative-text {
    color: white;
    text-shadow: 0 0 5px red;
}

select{
  appearance: none;
  width: 200px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2300ffea' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select:focus {
  outline: none;
  box-shadow: 0 0 8px #00f2ff;
}

